<!doctype html>
<html lang="en">
<head>
    <title>Detail View</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/style.css' %}">
    <link rel="shortcut icon" href="/static/assets/images/logo.png" type="image/x-icon">
    <link rel="icon" href="/static/assets/images/logo.png" type="image/x-icon">
</head>
    <body class="data">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service:lists' %}"> &laquo; Return to Services.</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service:infinity' %}"> &laquo; Return to Gallery.</a>
                        </li>
                    {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" style="margin-left:650px;">Hi {{ user.username | capfirst}}!</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Log Out</a>
                        </li>

                    {% else %}

                        <li class="nav-item" style="margin-left:630px;">
                            <p class="nav-link">You're not Logged In!</p>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Log in</a>
                        </li>

                    {% endif %}

                </ul>

              </div>

            </nav>

            <h1>{{ service_data.name }}</h1>
    <div class="prt">
            <div>
            {% for img in service_data.images_set.all %}
                <img src="{{ img.images.url}}" alt="no img" class="data-img">
            {% endfor %}
            </div>

        <h4 class="date">{{ service_data.create_time }}</h4>
            <div class="black">
                <h2>Description</h2>
                {{ service_data.discription | safe }} <br>
            </div>
    </div>


<div class="comment-section">
<h3>Comments:</h3>
    {% if service_data.comments_set.all %}
        {% for comment in service_data.comments_set.all %}
            <div class="row my-3">
                <div class="col-md-1">
                    <img class="rounded mx-auto d-block w-100 p-2 border border-dark" src="/static/assets/images/user.png" alt="user">
                </div>
                <div class="col-md-11">
                    <b> {{comment.author}} </b> <span class="badge bg-secondary">{{comment.comment_time}}</span>
                    <div> {{comment.message}}</div>
                    <div class="reply mx-0">
                            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.id}}" aria-expanded="false" aria-controls="replyBox {{comment.id}}">
                                Reply
                            </button>

                            <div class="collapse" id="replyBox{{comment.id}}">
                                <div class="card card-body my-2">
                                    {% if user.is_authenticated %}
                                        Reply as {{ user.username }}: <br>
                                        <form method="post" class="post-form" novalidate>
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="Post" class=" btn btn-primary">
                                        </form>
                                        {% else %}
                                            <p>Please Log in to Reply.....</p>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
    <h6>No Comments yet!! Be the First.</h6>
    {% endif %}
        {% if user.is_authenticated %}
        Comment as {{ user.username }}: <br>
        <form method="post" class="post-form" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            {% for error in form.error %}
                {{ error}}
            {% endfor %}

            <input type="submit" value="Post" class=" btn btn-primary ms-2">
        </form>
        {% else %}
            <p>Please Log in to Comment.....</p>
    {% endif %}
    </div>

        </div>

    <script src="/static/assets/js/bootstrap.bundle.js"></script>
    <script src="/static/mine/js/script2.js"></script>
    <script src="/static/mine/js/script.js"></script>



    </body>
</html>